<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
      <ion-label position="stacked">Firstname: {{data.user.firstname}}</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Lastname: {{data.user.lastname}}</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button expand="full" color="danger">Logout</ion-button>
</ion-content>
